/* Graph.module.css */
.cardContainer {
  display: flex;
  justify-content: space-around; /* Distribute space around the cards */
  flex-wrap: wrap; /* Allow wrapping if necessary */
  gap: 20px; /* Gap between cards */
}

.card {
  background-color: white;
  padding: 10px; /* Reduced padding */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(45% - 40px); /* Adjusted width to make cards smaller and side by side */
  box-sizing: border-box;
  max-width: 500px; /* Set a maximum width */
  min-width: 300px; /* Set a minimum width to ensure proper display */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card h2 {
  font-size: 1.2em; /* Reduced font size */
  margin-bottom: 10px; /* Reduced margin */
  text-align: center;
  width: 100%; /* Ensure the heading takes the full width */
}

.chartWrapper {
  width: 100%; /* Ensure the chart takes full width of the card */
  height: 400px; /* Adjust height as necessary */
}