.searchContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .searchBox {
    width: 300px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .responseContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .responseCard {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }
  
  .responseCard h3 {
    margin-top: 0;
    font-size: 1rem;
  }
  
  .responseCard p {
    margin: 5px 0;
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .buttonContainer {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
  }
  
  .editButton, .deleteButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .deleteButton {
    background-color: #f44336;
  }
  